# Node
node_modules

# Security
.env
.env.development
.env.production
.env.local
.env.*.local

# IDE files
.idea/
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# Logs
logs.neon_local/
